/*
Colors Palette:
- dark grey: #121212
- grey: #2E2E2F
- light grey: #4B4B4B
- grey text: #A5A5A5
- white: #FFFFFF 
*/

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #121212;
}

main {
    width: 100%;
    max-width: 700px;
    min-width: 490px;
    /* check it for other responsive solution */
    margin: 0 auto;
}

header {
    background-image: url("imgs/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 12em;
    /* margin-bottom: 4em ; */
}

header h1 {
    font-weight: 800;
    font-size: 2.5rem;
}

header p {
    font-size: 0.8rem;
    cursor: pointer;
}

.main-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: auto 2em;
    height: 100%;
}

.main-txt a {
    color: white;
    text-decoration: none;
}

form {
    position: relative;
    margin: 0 auto;
    display: flex;
    background-color: red;
    width: 80%;
}

.form-container {
    position: relative;
    top: -1.5em;
}

form input {
    background-color: #2E2E2F;
    border: none;
    padding: 1em;
    padding-left: 2.5em;
    margin: 0;
    width: auto;
    font-size: 0.8rem;
    flex-grow: 8;
    color: #A5A5A5;
}

form i {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

::placeholder, form i {
    color: #A5A5A5;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: 500;
}

form button {
    background-color: #4B4B4B;
    color: white;
    border: none;
    padding: 0 2em;
    font-size: 0.8rem;
    margin: 0;
    display: block;
    cursor: pointer;
}

.results-container {
    margin: 0 auto;
    min-width: 410px;
    width: 80%;
}

.default-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #787878;;
}

.default-txt a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.default-txt i {
    font-size: 4rem;
}

.default-txt h3 {
    margin-top: 0.3em;
    margin-bottom: 0;
}

.search-error {
    max-width: 70%;
    text-align: center;
    color: #2E2E2F;

    /* adjust responsivness */
}

.default-txt,
.search-error {
    margin: 30% auto;
}

.movie-container {
    padding-top: 4em;
}

/* .movie-container:first-of-type {
    margin-top: 4em;
} */

.movie-container .flex-container {
    display: flex;
}

.movie-container img {
    margin-right: 1em;
    height: 9.3em;
}

.movie-info p {
    font-size: 0.75rem;
    margin: 0;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-1,
.row-2 {
    display: flex;
    align-items: baseline;
}

.row-1 h3 {
    margin: 0;
    padding: 0;
    margin-right: 0.75em;
    line-height: 1;
}

.row-1 .fa-star {
    color: #FEC654;
    font-size: 0.65rem;
    margin-right: 0.4em;
}

.row-1 .rating {
    margin: 0;
    padding: 0;
}

.row-2 .duration,
.row-2 .genre {
    margin-right: 1.5em;
}

.row-2 i {
    cursor: pointer;
}

.row-2 .watchlist {
    margin-left: 0.3em;
    cursor: pointer;
}

.watchlist-btn {
    display: flex;
    align-items: center;
}

.description {
    margin-right: 1.5em;
    line-height: 1.5;
    color: #A5A5A5;
}

.separator {
    margin-top: 1.75em;
    border-top: 1px solid #2C2C2C;
    width: 100%;
}


/* WATCHLIST PAGE */

.separator-watch {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    border-top: 1px solid #ffffff;
    width: 100%;
}

.add-movies {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.add-movies h4 {
    margin: 0;
}

.add-movies i {
    font-size: 1rem;
    margin-right: 0.5em;
}